<div class="user_show">
<div class="row">
  <div class="col-md-6">
    <div class="profile">
      <strong>Name</strong><br>
    </div>
    <h3><%= current_user.name %></h3>
    <div class="profile">
      <strong>在籍中の学校</strong><br>
    </div>
    <h3><%= current_user.school %></h3>
    <div class="profile">
      <strong>自己紹介</strong><br>
    </div>
    <h3><%= current_user.intro %></h3>


  </div>
</div>
</div>
