<div class="user_show">
<div class="row">
  <div class="col-md-6">

    <strong>Name</strong><br>
    <h3><%= current_user.name %></h3>

    <strong>在籍中の学校</strong><br>
    <h3><%= current_user.school %></h3>

    <strong>自己紹介</strong><br>
    <h3><%= current_user.intro %></h3>


  </div>
</div>
</div>
