<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <% unless user_signed_in? %>
        <h1>就活生のための掲示板</h1>
        <%= link_to 'Job Chainを始める', new_user_session_path, class: 'btn btn-default btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class="header text-center">
    <h1>Home</h1>
  </div>
        <div class="row">
          <div class="col-md-3">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="col-md-9">
          <%= render 'topics/topic', topics: @topics %>
          </div>
        </div>
<% end %>
