<div class="panel panel-default">
  <div class="panel-heading">
    Menu
  </div>
  <!-- <div class="panel-body"> -->
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to new_topic_path do %><i class="glyphicon glyphicon-pencil"></i> Topic投稿<% end %></li>
    <li><%= link_to user_path(current_user) do %><i class="glyphicon glyphicon-home"></i> Your profile<% end %></li>
  </ul>
  <!-- </div> -->
</div>
